@import './base.less';

body{
    font: 14px/1.6 Arial,"Microsoft YaHei","黑体","黑体","宋体",sans-serif;
    color: @gray;
    margin: 0;
}

html,body,#app{
    height: 100%;
}

a{
    text-decoration: none;
    color: @gray;
}

.el-button{
    color:@themeColor !important;
    border: 1px solid @themeLighterColor !important;
    background: @white;
    border-radius: 4px;
}

.el-button.el-button--medium{
    font-size: 13px;
    font-weight: normal;
    padding: 0 8px;
    line-height: 28px;
}

.el-button:hover{
    color: @white;
    background: @themeLighterColor;
}

input{
    padding: 0 10px;
    line-height: 40px;
    border: 1px solid #eaeaea;
    outline: none;
    border-radius: 4px;

    &:focus{
        border-color: @themeLighterColor;
    }
}


.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-textarea__inner:focus{
    border-color: @themeLighterColor;
}

.el-pager li{
    font-size: 16px!important;
    &:hover,
    &.active{
        color: @bgColor!important;
    }
}

